* {
  background: #222;
  color: white;
}

p {
  width: 50px;
  height: 50px;
  background-color: rgb(70, 170, 70);
}

.move {
  background-color: rgb(81, 81, 163);
  /*transform: rotate(40deg);*/
  transform-origin: left bottom;
  transition-duration: .5s;
}

.move:hover {
  transform: rotate(360deg);
}

/*always check the docs for more info
  you should use a css prefixer for compatibility*/